{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}



{% if user.is_authenticated %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Ait placement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link" href="">Hi {{ user.first_name }}! </a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">home  </a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'article_list' %}">articles </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'edit_profile' %}">edit profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        
      </ul>
    </div>
  </nav>
 
<!-- <a href="{% url 'home' %}">home</a>
<p><a href= "{% url 'article_list' %}">articles </a> </p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'edit_profile' %}">Edit profile</a></p> -->
 

{% if user.is_superuser %}
<div style=" margin-top: 10%; 
display: flex;
justify-content: center;" >
    <button  class="btn btn-outline-dark btn-lg"  >
        <a href="{% url 'article_new' %}" style="color:white; text-decoration: none;">+ New</a>
    </button>
</div>
 
{% endif%}
<div style="margin: auto;
 margin-top: 15%;
display: flex;
justify-content: center;" >
    <button  class="btn btn-outline-dark ">
        <a href= "{% url 'article_list' %}" style="color:white; text-decoration: none;">articles </a>
    </button>
</div>
 
{% else %}

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Ait placement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> </a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">login  </a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'signup' %}">sign up  </a>
        </li>
  
      </ul>
    </div>
  </nav>
  
  
</head>
<body>
  <div class="box">
    <img src="../static/ait.webp"  alt="ait image"/>
  </div>


<!-- <p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a> -->
{% endif %}


{% endblock content %}
