{% block title %}Log In{% endblock title %}
{% block content %}
{% include 'base2.html' %}
 

<div style=" margin-top: 10%; 
display: flex;
justify-content: center;" >
 
<form method="post" style="text-align: center;">
    <h2 style="color:black;">Change Your Password Here!</h2>
    {% csrf_token %}

    {% for field in form.visible_fields %}
        <div class="fieldWrapper"></div>
        {{ field.errors }}
        {{ field.label_tag }} <br> 
        <div class="class" style="color: bisque;">
                {{ field }}
        </div> 

        <!-- {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %} -->

    {% endfor %}
    <button  class="btn btn-outline-dark btn-lg" type="submit" style="margin-top: 10%;">
        <span style="color:white; text-decoration: none;">change password </span>
    </button>
 
</form>
</div>
{% endblock content %}