{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<h2>Sign Up</h2>
<form method="post">
{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} <br>  {{ field }}
      
        <!-- {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %} -->
    </div>
{% endfor %}
<button type="submit">Sign Up</button>
</form>
{% endblock content %}